<!--<h1 class="colorRed">Hola {{nombre}}!</h1>
<button (click)="saludar()">Saludar</button>

<hr />

<input type="number" [(ngModel)]="edad" />
<button (click)="mostrarEdad()">Mostrar</button>
{{edad * edad}}

<hr />
<button (click)="imprimirArreglo()">Imprimir Arreglo</button>

<div>
  {{miArreglo[0].nombre}} {{miArreglo[0].edad}}
</div>
<div>
  {{miArreglo[1].nombre}} {{miArreglo[1].edad}}
</div>
<div>
  {{miArreglo[2].nombre}} {{miArreglo[2].edad}}
</div>

<hr />
<div *ngFor="let usuario of miArreglo">
  {{usuario.nombre}} {{usuario.edad}}
</div>
<hr />

<h3>Lista de invitados</h3>
<div *ngIf="persona1.edad >= 18">
  {{persona1.nombre}} {{persona1.edad}}
</div>
<div *ngIf="persona2.edad >= 18">
  {{persona2.nombre}} {{persona2.edad}}
</div>

<hr />
<div *ngFor="let usuario of miArreglo">
  <div [ngClass]="{'colorRed': (usuario.edad > 18), 'colorBlue': (usuario.edad <= 18)}">
    {{usuario.nombre}} {{usuario.edad}}
  </div>
</div>
-->
<!--
TODO: (1) Crear una lista de alumnos con calificaciones y:
>80: color verde
>60: color naranja
>45: color rojo
> 0: color negro

TODO: (2) Hacer la calificación editable. (Dentro de un input) Al editarla, esta debe afectar automáticamente el color

TODO: (3) Agregar un fondo gris a aquellos alumnos reprobados (<70)
-->


<!--
TODO: Después de lograr agregar usuarios a la lista, agregar un botón  a cada usuario para poder eliminarlo ( investigar acerca de .splice() )

TODO: Al dar click al nombre de cualquier usuario, cargar su información en los inputs
-->
<input type="text" [(ngModel)]="currentUser.nombre">
<input type="number" [(ngModel)]="currentUser.cal">
<button (click)="agregarUsuario()">Guardar Usuario</button>
<div *ngFor="let usuario of usuarios; let i = index">
  <span (click)="seleccionarUsuario(usuario)">{{usuario.nombre}}</span> {{usuario.cal}}
  <button (click)="eliminarUsuario(i)">x</button>
</div>
